<%= render 'layouts/header' %>
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h1 class="cart-title">Cоздать счет</h1>
			<div class="order-back">
			  <%= form_for(@balance) do |f| %>
			    <% if @balance.errors.any? %>
			      <div id="error_explanation">
			        <h2><%= pluralize(@balance.errors.count, "error") %> prohibited this cart from being saved:</h2>

			        <ul>
			        <% @balance.errors.full_messages.each do |message| %>
			          <li><%= message %></li>
			        <% end %>
			        </ul>
			      </div>
			    <% end %>
			   
			   <div class="form-group">
			     <%= f.hidden_field :user_id, :value => current_user.id,  class:"form-control" %>
			   </div>

			   <div class="form-group">
			     <h2>Сколько вы хотите вложить денег на Ваш счет?</h2><br>
			     <%= f.text_field :amount, class:"form-control" %>
			   </div><br>

			   <div class="form-group" style="padding-bottom: 40px;">
			      <%= f.submit "Создать счет", class:"btn btn-primary pull-right" %>
			   </div>

  			<% end %>
		   </div>
		</div>
		<div class="col-md-4">
			<i class="fa fa-money" aria-hidden="true"></i>
		</div>
	</div>
</div>